
/*background:#eaece5 neutral
    background:#b2c2bf greyish
    background:#c0ded9 greenish //rbga: 192	222	217
    color:#fff;background:#3b3a30 dark background with white font*/
body {
    background:#c0ded9;
    /*max-height:1200px; try to fix*/
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.container {
    background: url(../images/salt_lake.jpeg);
   /*background-position: center;*/
    background-repeat: no-repeat;
    width: 100%;
    height:1200px;
    background-size: auto;/*;100%/* auto;
    /*background-size: auto;*/
    padding-top:10px;
   /* background: url(../images/salt_lake.jpeg);
    background-size:cover;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;*/
    
}
.quiz-body {
    /*background-color: #b2c2bf;*/
    /*background:#c0ded9;*/
    background: rgba(192, 222, 217, .9);
   /*margin: 6rem 30%;*/
   /* padding: 1rem 2rem 4rem 2rem;*/
    
    /*margin: 5% 5%;try to fix*/
     /*margin: 150px 33%;*/
    padding: 10px 20px 50px 20px;
    margin:33% 30%;/*2rem;
    /*padding: 1rem 2rem 4rem 2rem;try to fix*/
    box-shadow: 4px 4px 11px 3px #3b3a30  ;
}
h1 {
    /*
    color:#eaece5;
    background:#3b3a30;*/
    background-color: #eaece5;
    color:#3b3a30;
    border-bottom:2px solid #b2c2bf ;
    font-weight:bold;
    text-align:center;
    font-size:48px;
    margin:0;
    padding:.25rem;/*try to fix*/
}
button {
    background-color:#b2c2bf;/*#c0ded9;*/
    /*color:#eaece5;
    text-shadow: 2px 3px #3b3a30;*/
    color: #3b3a30;
    text-shadow: 2px 2px 2px #eaece5;
    border-color:#3b3a30;
    border-radius: 20px;
    box-shadow: 1px 1px 1px 1px #3b3a30;
    /*margin:.25rem .25rem;//try to fix
    margin: 0.2em 0;*/
    margin:.25rem 0;
    display:block;
    width:100%;
    font-size: 24px;/*//trying*/
    /*font-size:2rem;/*try to fix*/
    padding:.5rem 0;/*try to fix*/

}
.tImage {
    max-width:100%;
    /*font-size: 24px;*/
    text-align:center;
}
img {
    max-width:100%;
    margin:.5rem auto;
    box-shadow: 3px 5px 10px  #3b3a30;
    transition: transform .2s;
    transition-timing-function: linear;
  }
img:hover {
    transform: scale(1.5);
      
  }
  h1:hover {
      color:purple;
  }
.correct, .wrong , #info{
      /*margin-left:.5rem;*/
      text-align: center;
      color:#3b3a30;
  }
  @media screen and (max-width:600px){
    
    body {
        background: url(../images/salt_lake.jpeg);
        background-size: auto;/*cover;/*/
    }
    .quiz-body {
        /*margin:33% 27%;
        */
        margin:100px 10%;
        /*margin:1rem 10%;*/
    }
    .container {
        background:transparent;
    }
  }
  @media screen and (max-width:299px){
      h1 {
          font-size: 1.75rem;
      }
  }
  /*
  @media screen and (min-width: 500px){/*(max-width: 600px)*/
    /*body {
        max-height:1200px;
    }*/
    /*
    .quiz-body {
        margin:33% 27%;
    }

  }*/