
/*background:#eaece5 neutral
    background:#b2c2bf greyish
    background:#c0ded9 greenish
    color:#fff;background:#3b3a30 dark background with white font*/
    
*, *::before, *::after {
    box-sizing: border-box;
}
body {
    margin:20px 0;
    background:#c0ded9;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
h1 {
    background-color: #eaece5;
      color:#3b3a30;
      border-bottom:2px solid #b2c2bf ;
      margin:0 auto;
      text-align: center;
      max-width:1280px;


}
.grid {
    max-width:1260px;
    margin:0 auto;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
}
.card {
    margin:5px;
    background-color:#b2c2bf;
    background-size:contain;
    background-repeat:no-repeat;
    background-position: center;
    height:200px;
    width:300px;
    box-shadow: 3px 5px 10px #3b3a30; /*#eaece5;*/

}
.center {
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color:#3b3a30;
  
}
.selected {
    border:4px solid #eaece5;
}
.match {
    border: 4px solid #3b3a30;
    background-image:none !important;
    box-shadow: none;

}
.hide {
background-color:#c0ded9;
color:#c0ded9;
border:none;

}
.hidden {
    display:none;
}

.finished {
    font-size: 4rem;
    text-align: center;
    color:#3b3a30;
    font-weight: 900;
}
.confetti {
    width: 15px;
    height: 15px;
    background-color: #f2d74e;
    position: absolute;
    left: 50%;
    animation: confetti 5s ease-in-out -1s infinite;
    transform-origin: left top;
  }
  .confetti:nth-child(1) {
    background-color: #f2d74e; left: 10%; animation-delay: 0;
  }
  .confetti:nth-child(2) {
    background-color: #95c3de; left: 20%; animation-delay: -5s;
  }
  .confetti:nth-child(3) {
    background-color: #ff9a91; left: 30%; animation-delay: -3s;
  }
  .confetti:nth-child(4) {
    background-color: #f2d74e; left: 40%; animation-delay: -2.5s;
  }
  .confetti:nth-child(5) {
    background-color: #95c3de; left: 50%; animation-delay: -4s;
  }
  .confetti:nth-child(6) {
    background-color: #ff9a91; left: 60%; animation-delay: -6s;
  }
  .confetti:nth-child(7) {
    background-color: #f2d74e; left: 70%; animation-delay: -1.5s;
  }
  .confetti:nth-child(8) {
    background-color: #95c3de; left: 80%; animation-delay: -2s;
  }
  .confetti:nth-child(9) {
    background-color: #ff9a91; left: 90%; animation-delay: -3.5s;
  }
  .confetti:nth-child(10) {
    background-color: #f2d74e; left: 100%; animation-delay: -2.5s;
  }
  .confetti:nth-child(11) {
    background-color: #000; left: 75%; animation-delay: -1.75s;
  }.confetti:nth-child(12) {
    background-color: #fff; left: 25%; animation-delay: -2.75s;
  }.confetti:nth-child(13) {
    background-color: #000; left: 35%; animation-delay: -3.75s;
  }.confetti:nth-child(14) {
    background-color: #fff; left: 45%; animation-delay: -1.25s;
  }.confetti:nth-child(15) {
    background-color: #000; left: 55%; animation-delay: -5.5s;
  }
  .confetti:nth-child(16) {
    background-color: #fff; left: 65%; animation-delay: -.75s;
  }.confetti:nth-child(17) {
    background-color: #000; left: 15%; animation-delay: -4.75s;
  }.confetti:nth-child(18) {
    background-color: #fff; left: 95%; animation-delay: -2.25s;
  }.confetti:nth-child(19) {
    background-color: #000; left: 55%; animation-delay: -.5s;
  }.confetti:nth-child(20) {
    background-color: #fff; left: 55%; animation-delay: -4.25s;
  }

  @keyframes confetti {
    0% { transform: rotateZ(15deg) rotateY(0deg) translate(0,0); }
    25% { transform: rotateZ(5deg) rotateY(360deg) translate(-5vw,20vh); }
    50% { transform: rotateZ(15deg) rotateY(720deg) translate(5vw,60vh); }
    75% { transform: rotateZ(5deg) rotateY(1080deg) translate(-10vw,80vh); }
    100% { transform: rotateZ(15deg) rotateY(1440deg) translate(10vw,110vh); }
  }

/*
@media (max-width:768px) {
    .displayContainer {
        grid-template-columns: 1fr 1fr;
    }
    
    
}*/