h1 {
    height: 100px;
    background-color: cornflowerblue;
}
h2 {
    background-color: grey;
}
section {
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:1rem;
}

img {
    grid-column: 1;
    
}
div {
    grid-column: 2;
}
