
/*background:#eaece5 neutral
    background:#b2c2bf greyish
    background:#c0ded9 greenish
    color:#fff;background:#3b3a30 dark background with white font*/
    
*, *::before, *::after {
    box-sizing: border-box;
}
body {
    margin:20px 0;
    background:#c0ded9;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
h1 {
    background-color: #eaece5;
      color:#3b3a30;
      border-bottom:2px solid #b2c2bf ;
      margin:0 auto;
      text-align: center;
      max-width:1280px;


}
.grid {
    max-width:1260px;
    margin:0 auto;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
}
.card {
    margin:5px;
    background-color:#b2c2bf;
    background-size:contain;
    background-repeat:no-repeat;
    background-position: center;
    height:200px;
    width:300px;
    box-shadow: 3px 5px 10px #3b3a30; /*#eaece5;*/

}
.back {
    background-color:#3b3a30;
    border:4px solid #b2c2bf;/* #eaece5;*/
    background-image:none !important;

}
.center {
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color:#3b3a30;
    /*
    background-color: #eaece5;
      color:#3b3a30;
      border-bottom:2px solid #b2c2bf ;
      border-top:4rem solid #b2c2bf;
    border-bottom:4rem solid #b2c2bf;
    border-left:.25rem solid #b2c2bf;
    border-right:.25rem solid #b2c2bf;
    /*color:#eaece5;*/
    /*
    border-top:4rem solid #b2c2bf;
    border-bottom:4rem solid #b2c2bf;
    border-left:.25rem solid #b2c2bf;
    border-right:.25rem solid #b2c2bf;
    
    color:#fff;
      background-color:#3b3a30;
      /*text-align:center;*/
  
}
.selected {
    border:4px solid #eaece5;
}
.match {
    border: 4px solid #3b3a30;
    background-image:none !important;
    box-shadow: none;

}
.hide {
background-color:#c0ded9;
color:#c0ded9;
border:none;

}
/*
@media (max-width:768px) {
    .displayContainer {
        grid-template-columns: 1fr 1fr;
    }
    
    
}*/