
h1 {
    text-align:center;
    color:green;
    
    
}
.container {
    max-width:400px;
    margin:auto;
    font-size:14px;
    font-family: sans-serif;
}
.todo {
    display:flex;
    align-items:center;
    /*justify-content:space-evenly;*/
    width:100%;
    border:1px solid black;
    padding: 10px;
    box-sizing: border;
}
.todo button {
    width:25px;
    height: 25px;
    border: 1px solid grey;
    border-radius:20px;
    line-height: 1.5;
    background-color: white;
}
.todo-delete-btn {
    /*background-color:red;
    color:white;*/
    justify-self: end;
    background-color: white;
}
.todo button:hover {
    background-color:green;
}
.todo-content {
    padding:10px 20px;
    width:calc(100% -50px);

}
.todo-filters {
    
    display:flex;
    border:1px solid black;
    width: 100%;
    padding:10px;
    align-items: center;
    justify-content: space-evenly ;
    
}
.filter-button {
    color:green;
    border:none;
    background-color:white;
    font-weight: bold;
    
    
}
/*
.activated-button {
    border:1px solid green;
    border-radius:10px;
    /*color:white;
    background-color: green;*/

/*}*/

.completed {
    text-decoration: line-through;
}
.add-todo-wrapper{
    margin-top:1rem;
    max-width:400px;
    
    
}
input {
    width:80%;
    padding:10px;
    border: 2px solid green;
    box-sizing:content-box;
}
.addBtn {
    padding-left:10px;
    padding-right:10px;
    /*padding:6px 10px;*/
    padding-top:5px;
    padding-bottom:7px;
    margin-left:.5rem;
    border:2px solid green;
    background-color: white;
    
    
    
}

