section {
    text-align: center;
}

#board {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 300px;
    margin:50px auto;
    font-size: 50px;
    color:black;
}
.square {
    width:100px;
    height: 100px;
    line-height: 100px;
    cursor: pointer;

}
#square-0, #square-1, #square-3, #square-4, #square-6, #square-7 {
    border-right: 1px solid grey;
}

#square-1, #square-2, #square-4, #square-5, #square-7, #square-8 {
    border-left:1px solid grey;
}
#square-0, #square-1, #square-2, #square-3, #square-4, #square-5 {
    border-bottom: 1px solid grey;
}
#square-3, #square-4, #square-5, #square-6, #square-7, #square-8 {
    border-top: 1px solid grey;
}


